<html>
  <head>
    <style>
      body {
        <%= bg %>;
      }
    </style>
  </head>
  <body>
    <p>
      Guesses left: <%= guesses %>
    </p>
    <p>
      <%= output %>
    </p>
    <p>
      <%= number %>
    </p>
    <p>
      <%= cheat %>
    </p>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
  </body>
</html>